.cover {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: all 0.5s;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    z-index: 2;
}

.cover:hover {
    transition: all 0.5s;
    opacity: 1;
}
