.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*padding: env(safe-area-inset-top);*/
}

.main {
    width: 328px;
}

.logo {
    display: flex;
    align-items: center;
    margin: 20px;
}

.logo img{
    height: 80px;
    margin-right: 15px;
}
