.header {
    padding-top: env(safe-area-inset-top);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 20;
}

.content {
    margin-top: calc(env(safe-area-inset-top) + 64px);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    overscroll-behavior: contain;
}
