@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: calc(100% + env(safe-area-inset-top));
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ant-message-top {
    top: calc(8px + env(safe-area-inset-top)) !important;
}

.ant-float-btn-group {
    bottom: calc(64px + env(safe-area-inset-top)) !important;
}

.ant-ribbon {
    z-index: 1 !important;
}

.ant-rate-star{
    margin-inline-end: 3px !important;
}

.yarl__counter, .yarl__toolbar {
    padding-top: env(safe-area-inset-top) !important;
    padding-left: env(safe-area-inset-left) !important;
    padding-right: env(safe-area-inset-right) !important;
}
